<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
  <script type="text/javascript" src='{{ "/assets/js/lightbox-plus-jquery.min.js" | prepend: site.url }}'></script>
  <script type="text/javascript"
    lightbox.option({
      'maxWidth': 500;
      'maxWidth': 300;
  });
